<form method="post" action="{{ path('app_latest_delete', {'id': latest.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ latest.id) }}">
    <button class="btn">Delete</button>
</form>
